<body>
  <header class="header">
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="content-side col-3 p-4">
        <% if user_signed_in? %>
        <div class="user-profile lead p-2">
          <p class="profile-username">qqqさんのマイページ</p>
        </div>
        <div class="profile-img p-4">
          <img src="https://lh3.googleusercontent.com/proxy/3qkbHE3_mS4Eo01fxjVy3R5dByO5tJt35z-sAnBdaHkTmazlny9nvGEN_9_EO5u0y1ExQHcWRA5XBxziL3qo-Byq6xdi-if4ip6d2dNeUJfJT5xdio6uyUw2" class="img-responsive" style="width:80%" alt="参考画像">
        </div>
        <div class="profile-text mt-5">
          <pre>
      ここに
      プロフィールを
      書き込んで
      表示する
          </pre>
        </div>
        <% end %>


        <div class="groups">
          <a href="#">
          </a>
        </div>
      </div>

      <div class="post-contents col-6">
        <div class="row">

          <div class="post-content mb-5 p-3">
            <div class="media content-header">
              <div class="media-left">
                <a href="#">
                  <img src="https://enjoynet.co.jp/icon/icon_menherachan01_05.jpg" alt="avatar" class="media-object" style="width:100px">
                </a>
              </div>
              <div class="media-body mt-3 ml-3">
                <h4 class="media-heading">username</h4>
                <p class="updated">Last Sunday at 11:03 AM </p>
              </div>
            </div>
            <div class="content-main px-4">
              <h3 class="post-title pl-3">content-title</h3>
              <p>こんなもの作ってみました！</p>
              <div class="post-content-image">
                <img src="https://www.gamespark.jp/imgs/zoom/394518.jpg" alt="photo" class="img-responsive" style="width:100%">
              </div>
            </div>
          </div>

          <div class="post-content mb-5 p-3">
            <div class="media content-header">
              <div class="media-left">
                <a href="#">
                  <img src="https://enjoynet.co.jp/icon/icon_menherachan01_05.jpg" alt="avatar" class="media-object" style="width:100px">
                </a>
              </div>
              <div class="media-body mt-3 ml-3">
                <h4 class="media-heading">username</h4>
                <p class="updated">Last Sunday at 11:03 AM </p>
              </div>
            </div>
            <div class="content-main pl-5">
              <h3>title</h3>
              <p>こんなもの作ってみました！</p>
              <div class="post-content-image">
                <img src="https://img.cinematoday.jp/a/mc4Tgc_84-_r/_size_640x/_v_1584692328/main.jpg" alt="photo" class="img-responsive" style="width:100%">
              </div>
            </div>
          </div>

          <div class="post-content">
            <div class="media content-header">
              <div class="media-left">
                <a href="#">
                  <img src="https://enjoynet.co.jp/icon/icon_menherachan01_05.jpg" alt="avatar" class="media-object" style="width:100px">
                </a>
              </div>
              <div class="media-body mt-3 ml-3">
                <h4 class="media-heading">username</h4>
                <p class="updated">Last Sunday at 11:03 AM </p>
              </div>
            </div>
            <div class="content-main ml-5">
              <h3>title</h3>
              <p>こんなもの作ってみました！</p>
              <div class="post-content-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSofpD9tmuFaDsozU5hQ7_wIPi-csCHRv2VqEwbLSUkP1kID4Gm&usqp=CAU" alt="photo" class="img-responsive" style="width:100%">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="advertise col-3 px-2">
        <div class="advertise-item mb-5">
          <p class="item-1 pl-5">企業広告</p>
          <img src="https://prtimes.jp/i/1594/2035/resize/d1594-2035-452726-0.png" alt="avatar" class="img-responsive mt-1 pr-3" style="width:100%">
        </div>
        <div class="advertise-item mb-5">
          <p class="item-2 pl-5">企業広告</p>
          <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/kadokawa-toko/20200409/20200409185354.png" alt="avatar" class="img-responsive mt-1 pr-3" style="width:100%">
        </div>
      </div>

    </div>
  </div>


  <div class="nav container">
    <ul class="nav nav-pills nav-fill py-3 mt-3 fixed-bottom">
      <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link" href="/users/edit">ユーザー情報の編集</a>
        <% else %>
          <a class="nav-link" href="/users/edit">ユーザー新規登録</a>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">フォローしているユーザー</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#post">Let's 発信</button>
      </li>
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
        </form>
      </li>
    </ul>
  </div>

</body>